import telebot
from telebot import types
import random
TOKEN = 'Your Token'
bot = telebot.TeleBot(TOKEN)

@bot.message_handler(commands=['start'])
def start(message):
	markup = types.ReplyKeyboardMarkup(resize_keyboard = True)
	item1 = types.KeyboardButton('🛒Purchase product🛒')
	item2 = types.KeyboardButton('👤Profile👤')
	item3 = types.KeyboardButton('📒amount product📒')
	item4 = types.KeyboardButton('📖Information📖')
  item5 =  types.KeyboardButton('⛔Regulations⛔')
  
	markup.add(item1, item3)
	markup.add(item2)
	markup.add(item4, item5)

@bot.message_handler(content_types=['text'])
def bot_message(message):
	if message.chat.type == 'private':
		if message.text == '📒amount product📒':
			bot.send_message(message.chat.id,'Наличие логов: ' + str(random.randint(0, 300)))
		elif message.text == '⛔Regulations⛔':
			markup = types.ReplyKeyboardMarkup(resize_keyboard=True)
			bot.send_message(message.chat.id,'YOUR TEXT',reply_markup=markup)
			

		elif message.text == '🛒Purchase product🛒':
			markup = types.ReplyKeyboardMarkup(resize_keyboard=True)
			bot.send_message(message.chat.id, 'YOUR TEXT', reply_markup=markup)


		elif message.text == '📖Information📖':
			markup = types.ReplyKeyboardMarkup(resize_keyboard=True)
			bot.send_message(message.chat.id, 'YOUR TEXT', reply_markup=markup)


bot.polling(none_stop=True)
